* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    padding: 30px 40px 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
}

.nav-item {
    padding: 12px 24px;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
}

.nav-item:hover {
    color: #ff6347;
    cursor: pointer;
}

.intro-section {
    display: flex;
}

.left-section {
    margin-top: 100px;
    width: 700px;
}

.left-section h3 {
    font-size: 2.2rem;
    font-weight: 400;
}

.left-section img {
    width: 40px;
    margin-right: 1.2rem;
}

.left-section h1 {
    font-family: 'Fredoka One';
    font-size: 4.2rem;
    margin-top: 1.0rem;
}
.sub-headline {
    display: flex;
    align-items: center;
    padding: 08px 0;
    font-size: 18px;
    font-weight: 400;
}

.sub-headlines {
    padding-left: 80px;
    margin-top: 1.2rem;
}


.sub-headline img{
    background-color: #ff6347;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
}

.text {
    margin: 30px 0 20px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #949292;
}

.action-btn {
    padding: 14px 30px;
    border-radius: 25px;
    margin-top: 30px;
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headphone-div img:first-child {
    /* border: 1px solid skyblue; */
    width: 150px;
    position: relative;
    top: 0;
    left: 100px;
    z-index: -2;
}

.discount-content {
    /* border: 1px solid blueviolet; */
    /* background-color: violet; */
    font-family: 'Fredoka One';
    position: absolute;
    z-index: -1;
    right: 577px;
    bottom: 200px;
    color: #ffffff;
}

.discount-content h4 {
    font-size: 12px;
    text-align: center;
}

.discount-content h1 {
    font-size: 46px;
}

.headphone-div img:last-child {
    position: relative;
    top: 26px;
    left: -50px;
    z-index: -3;
    width: 500px;
}

.dots {
    display: flex;
    padding-top: 20px;
}

.dots > div:not(last-child) {
    margin-right: 20px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.yellow-dot {
    background-color: #ffff00;
}

.tomato-dot {
    background-color: #ff6347;
}

.black-dot {
    background-color: #000000;
}

/************************** media query **************************/
@media screen and (min-width: 320px) and (max-width: 480px){

    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    nav {
        padding: 12px;
        display: flex;
    }

    .logo {
        width: 60px;
    }

    .nav-items {
        display: none;
    }

    .nav-item{
        font-size: 20px;
    }

    .icons {
        width: 140px;
    }

    .intro-section {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .right-section {
        text-align: center;
        position: relative;
    }

    .headphone-div img:first-child{
        max-width: 80px;
        position: relative;
        left: 20px;
    }

    .discount-content {
        font-size: 10px;
        position: absolute;
        left: 58px;
        bottom: 138px;

    }

    .discount-content h4 {
        font-size: 8px;
    }

    .discount-content h1 {
        font-size: 22px;
    }

    .headphone-img {
        max-width: 300px;
    }

    .dots {
        margin: 20px 0px;
    }

    .left-section {
        text-align: left;
        width: 100%;
        margin: 0px;
        padding: 15px;
    } 

    .left-section h3 {
        font-size: 18px;
        text-align: left;
    }

    .left-section img {
        width: 20px;
    }

    .left-section h1 {
        font-size: 28px;
    }

    .sub-headlines {
        padding-left: 18px;
    }

    .sub-headline {
        font-size: 12px;
    }

    .sub-headline img {
        width: 10px;
    }

    .text {
        font-weight: bold;
        line-height: 1.2;
        word-spacing: 0.8px;
        letter-spacing: 1.2px;
        margin-top: 08px;
        font-size: 15px;
    }

    .action-btn {
        text-align: left;
        margin: 0;
        font-weight: bold;
        font-size: 12px;
        padding: 10px 12px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){

    .logo {
        width: 90px;
    }

    .nav-item {
        font-size: 16px;
    }

    .nav-items {
        margin-left: 30px;
    }

    .icons {
        width: 250px;
    }

    .left-section h3 {
        font-size: 22px;
    }

    .left-section img {
        width: 25px;
    }

    .left-section h1 {
        font-size: 40px;
    }

    .sub-headlines {
        padding-left: 18px;
    }

    .sub-headline {
        font-size: 15px;
    }
    
    .sub-headline img {
        width: 15px;
    }

    .right-section {
        margin-left: 30px;
    }

    .headphone-div img:first-child {
        width: 90px;
        position: relative;
        top: 300px;
        left: 50px;
    }

    .discount-content {
        font-size: 15px;
        position: absolute;
        right: 242px;
        bottom: 175px;

    }

    .discount-content h4 {
        font-size: 10px;
    }

    .discount-content h1 {
        font-size: 24px;
    }

    .headphone-div img:last-child {
        width: 320px;
        position: relative;
        top: 0px;
        left: 50px;
    }

    .text {
        font-size: 14px;
    }

    .action-btn {
        font-size: 14px;
    }
}















